* {
    margin: 0;
    padding: 0;
    color: white;
}

header {
    background-color: gray;
    color: white;
    display: flex;
    padding: 20px;
    padding-left: 10%;
}

#header-img {
    border-radius: 100%;
}

#header-img:hover {
    transform: scale(1.1);
}

header>ul {
    width: 76%;
    justify-content: center;
    display: flex;
    gap: 40px;
    align-items: center;
}

header>ul>li {
    list-style: none;
}

header>ul>li:hover {
    transform: scale(1.1);
}

header>ul>li>a {
    color: white;
    text-decoration: none;
    font-size: 21px;
}

#sobre {
    color: purple;
    font-weight: bolder;
}

main {
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    display: flex;
}

#foto-grande {  
    border-radius: 100%;
}

.main {
    width: 25%;
    border: 1px solid white;
}

.main1, .main2 {
    margin-right: 5%;
}

.main1 {
    padding: 10px;
    
}

.main1 > div> img {
    margin-left: 40px;
}

.main2 {
    width: 35%;
    text-align: center;
    padding-top: 30px;
}

.main2 > h1 {
    font-size: 41px;
}

.main3 {
    padding-left: 30px;
}

.main3 > h2 {
    text-align: center;
    font-size: 34px;
}

.main3 > ul {
    margin-top: 30px;
}

.main3 > ul > li {
    margin-bottom: 10px;
    font-size: 24px;
}