* {
    margin: 0;
    padding: 0;
    color: white;
}

header {
    background-color: gray;
    color: white;
    display: flex;
    padding: 20px;
    padding-left: 10%;
}

#header-img {
    border-radius: 100%;
}

#header-img:hover {
    transform: scale(1.1);
}

header>ul {
    width: 76%;
    justify-content: center;
    display: flex;
    gap: 40px;
    align-items: center;
}

header>ul>li {
    list-style: none;
}

header>ul>li:hover {
    transform: scale(1.1);
}

header>ul>li>a {
    color: white;
    text-decoration: none;
    font-size: 21px;
}

#sobre {
    color: purple;
    font-weight: bolder;
}

main {
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
}

#foto-grande {
    border-radius: 100%;
}